body {
    padding:0px;
    margin:0px;
}

header {
    align-content: center;
    font-family: "Adobe Hebrew";
    font-size: large;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: 100%;
    border-bottom: 10px solid #cc5549;
    text-align: left;

}

@media screen and (max-height: 640px) {
    .nav {padding-top: 15px;}
    .nav button {font-size: 18px;}
}
nav {
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
    display: inline-block;
}


footer {
    align-content: center;
    border-top: 20px solid #cc5549;
    border-bottom: 40px solid #cc5549;
}

button {
    vertical-align: baseline;
    background-color: #e1dfcf;
    color: white;
    height: auto    ;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/*.imagebackground {*/
    /*background-image: inherit;*/
    /*background-size: 1200px;*/

    /*background-color: #fcebdc;*/
    /*font-family: "Adobe Hebrew";*/

/*}*/

.cvs {
    width: 200px;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    background-color: #FFFFFF;
    color: #FFFFFF;
    padding: 10px 0px 7px 0px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
/* Resume download button on hover & focus */
.cvs:hover, .cvs:focus {
    color: #FFFFFF;
    background-color: #b8b8b8;
}


.container {
    width: 100%;
    height: auto;
    background-color: #eef3fc;
    font-family: "Adobe Hebrew";
    background-size: contain;
    padding: 20px 0px 20px 0px;
}

.img-container {
    width: 100%;
    height: auto;
    background-color: #eef3fc;
    font-family: "Adobe Hebrew";
    background-size: contain;
}
.portrait {
    width: 65%;
    height: auto;
    padding: 20px 20px 20px 20px;
}
.watercolor {
    width: 100%;
    height: auto;
    border-top: 10px solid #cc5549;
    border-bottom: 20px solid #cc5549;

}

.infoButton {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    background-color: #ffffff;
    color: #0077b5;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}



/*.sidenav {*/
    /*height: 100%;*/
    /*width: 0;*/
    /*position: fixed;*/
    /*z-index: 1;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #111;*/
    /*overflow-x: hidden;*/
    /*transition: 0.5s;*/
    /*padding-top: 60px;*/
    /*text-align:center;*/
/*}*/

/*.sidenav a {*/
    /*padding: 8px 8px 8px 32px;*/
    /*text-decoration: none;*/
    /*font-size: 25px;*/
    /*color: #818181;*/
    /*display: block;*/
    /*transition: 0.3s*/

/*}*/

/*.sidenav a:hover{*/
    /*color: #f1f1f1;*/
/*}*/

/*.closebtn {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 25px;*/
    /*font-size: 36px !important;*/
    /*margin-left: 50px;*/
/*}*/







/*@media only screen and (max-width: 40em) !*640*! {*/

    /*#nav*/
    /*{*/
        /*position: relative;*/
    /*}*/
    /*#nav > a*/
    /*{*/
    /*}*/
    /*#nav:not( :target ) > a:first-of-type,*/
    /*#nav:target > a:last-of-type*/
    /*{*/
        /*display: block;*/
    /*}*/

    /*!* first level *!*/

    /*#nav > ul*/
    /*{*/
        /*height: auto;*/
        /*display: none;*/
        /*position: absolute;*/
        /*left: 0;*/
        /*right: 0;*/
    /*}*/
    /*#nav:target > ul*/
    /*{*/
        /*display: block;*/
    /*}*/
    /*#nav > ul > li*/
    /*{*/
        /*width: 100%;*/
        /*float: none;*/
    /*}*/

    /*!* second level *!*/

    /*#nav li ul*/
    /*{*/
        /*position: static;*/
    /*}*/

/*}*/

/*#nav {*/
    /*!* container *!*/
    /*position: relative;*/
/*}*/

/*#nav > a {*/
    /*color: #FFFFFF;*/
    /*display: block;*/
/*}*/

/*#nav li {*/
    /*position: relative;*/
/*}*/

/*!* first level *!*/

/*#nav > ul {*/
    /*height: 3.75em;*/
/*}*/

/*#nav > ul > li {*/
    /*width: 25%;*/
    /*height: 100%;*/
    /*font-size: 1.5em;*/
    /*line-height: 2.5em;*/
    /*text-align: center;*/
    /*float: left;*/
/*}*/

/*!* second level *!*/

/*#nav li ul {*/
    /*display: none;*/
    /*position: absolute;*/
    /*top: 100%;*/
/*}*/

/*#nav li:hover ul {*/
    /*display: block;*/
/*}*/


/* Dropdown Button */
.dropbtn {
    width: 200px;
    height: auto;
    position: relative;
    display: inherit;
    vertical-align: baseline;
    background-color: #0077b5;
    color: #FFFFFF;
    padding: 10px 0px 7px 0px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: #0077b5;
    background-color: #c7d7e5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 200px;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    background-color: #ef957e;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    color: #FFFFFF;
    background-color: rgba(89, 0, 0, 0.82);
    width: 200px;
    box-shadow: 0px 8px 40px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: #ffffff;
    background-color: #ef957e;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}