<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Personal Page 2016</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">

    <!--SCRIPTS-->
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/vendors/jquery.min.js"></script>


</head>
<body>
    <div class="container" align="center">
        <header class="container row">

            <div class="container col-md-6" style="padding-left: 10%;">
                <div style="padding: 0px 0px 20px 10px;">
                    <h1>Thomas Hartle</h1>
                    <h3>Front-End Designer / Developer</h3>
                </div>
                <div style="padding: 10px 0px 20px 10px">
                    <button aria-label="open" class="infoButton" ng-click>
                        <a href=https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">
                            <img class="linkedin" src="/assets/styles/Logo-2C-34px-R.png">
                        </a>
                    </button>
                    <button aria-label="open" class="infoButton" ng-click>
                        <a  href="https://github.com/tehat">
                            <img class="gitHub" src="/assets/styles/GitHub-Mark-32px.png">
                        </a>
                    </button>
                </div>
                <div style="padding: 10px 0px 20px 10px;">
                    <button class="cvs">
                        <a href="/assets/views/THartle_resume_2016.mht">Download Resume</a>
                    </button>
                </div>
            </div>

            <div class="portrait col-md-6" align="center">
                <a><img src="/assets/styles/closeup_sm.jpg"></a>
            </div>

        </header>
    </div>
        <div class="container" align="center">
            <nav class="nav" align="center">
                <div class="dropdown">
                    <button onclick="webApplications()" class="dropbtn">Web Applications</button>
                    <div id="appDropdown" class="dropdown-content">
                        <a href="#">to be launched</a>
                        <a href="#">off line</a>
                        <a href="#">in development</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="responsiveBanner()" class="dropbtn">Responsive Banners</button>
                    <div id="bannerDropdown" class="dropdown-content">
                        <a href="/assets/content/banner1/index.html">Banner Ad 1</a>
                        <a href="/assets/content/banner2/index.html">Banner Ad 2</a>
                        <a href="/assets/content/banner3/index.html">Banner Ad 3</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="responsiveEmail()" class="dropbtn">Responsive Emails</button>
                    <div id="emailDropdown" class="dropdown-content">
                        <a href="/assets/content/email1/index.html">Email 1</a>
                        <a href="/assets/content/email2/index.html">Email 2</a>
                        <a href="/assets/content/email3/index.html">Email 3</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="videoLink()" class="dropbtn">Video Projects</button>
                    <div id="videoDropdown" class="dropdown-content">
                        <a href="http://www.elefamilia.com/">Elefamilia</a>
                        <a href="http://www.whenyourhandsaretied.org/">When Your Hands Are Tied</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button onclick="artLink()" class="dropbtn">Fine Art Sites</button>
                    <div id="artDropdown" class="dropdown-content">
                        <a href="http://tomhartle.blogspot.com/">Artists Blog</a>
                        <a href="http://thomasehartle.com/">Artist Website</a>
                    </div>
                </div>

            </nav>

        </div>
    <div class="container" align="center">
        <div class="img-container" align="center">
            <a><img class="watercolor" src="/assets/images/footerimage.jpg"></a>
        </div>
    </div>

</body>
</html>